.type {
  font-family: monospace;
  color:#0000;
  background:
    linear-gradient(-90deg,#FFFFFF 5px,#0000 0) 10px 0,
    linear-gradient(#FFFFFF 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.035s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

form {
  /* Style the form elements */
  font-size: 20px;
  padding: 20px;
}

input,
button {
  /* Style the input and button elements */
  font-size: 20px;
  padding: 10px;
}

h1 {
	color: #FFFFFF;
}

body {
	background-color: black;
}